.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.winter i {
  color: blue;
}

.season-display.summer i {
  color: red;
}

.left {
  position: absolute;
  top: 10px;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}
